body {
    background-color: black;
}

canvas {
    background-color: darkslategray;
}

nav {
    display: flex;
    color: white;
    flex-flow: row nowrap;
    justify-content: space-between;
}

nav:hover {
    cursor: pointer;
}

#Barnsley {
    display: none;
}
