body {
    background-color: darkslategray;
}

canvas {
    background-color: aquamarine;
    /* width: 200px;
    height: 200px; */
    border: 1px solid #ffffff;
    margin: 20px;
}

#Barnsley {
    display: none;
}