body {
    background-color: black;
}

canvas {
    background-color: darkslategray;
    width: 200px;
    height: 200px;
    border: 1px solid antiquewhite;
    margin: 20px;
}

#Barnsley {
    display: none;
}
